{% set root = './' %}

<!doctype html>
<html lang="fr">
<head>
{% include 'common/_head.njk' %}
</head>
<body>
    <div class="container">
        <img src="img/banner.jpg" alt="banner" class="img-fluid mb-3">

        <p>Java est un language <b>fortement typé</b>.</p>

        <p>Avec une certaine lourdeur syntaxique, il semble peu adapté au web.</p>

        <p><b>Son environnement d’exécution</b> et ses nombreux <b>frameworks</b> le rendent pourtant incontournable.</p>

        <h1>Partie 1 : la forge logicielle : pratiques et outils</h1>

        <p>Avant de rentrer de le projet, nous devons mettre en place quelques outils.</p>

        <ol>
            <li>
                <a href="partie-1/1-github/index.html">Github</a>
            </li>
        </ol>
    </div>
</body>
</html>