{% set root = '../../' %}

<!doctype html>
<html lang="fr">
<head>
    {% include 'common/_head.njk' %}
</head>
<body>
<div class="container">
    <img src="img/banner.png" alt="banner" class="img-fluid mb-3">

    <p>Un <b>Versioning Control System</b> (VCS) permet de stocker tous ses fichiers : code, configuration, scripts…​</p>

    <div class="row">
        <div class="col-1 text-center"><i class="icon ion-md-alert"></i></div>
        <div class="col-11">C’est le coffre fort d’une équipe de développement</div>
    </div>
</div>
</body>
</html>